Package: Neon
Version: 2.11.38.2-beta
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Raphaël <raphael@langage-neon.org>
Description: Langage de programmation interprété
Homepage: https://www.langage-neon.org
